body {
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    color: #666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-top: 2px solid #2a4f6f;
}

header {
    border-top: 1px solid #789;
    border-bottom: 2px dotted #b2bcc6;
    background-color:#d3e3e3;
    height: 3em;
}

header .slogan {
    font: 120% Georgia, "Times New Roman", Times, serif;
    color: #789;
    background: transparent;
    float: right;
    width: 250px;
    margin-right: 2em;
    margin-top: 0.5em;
}

header .logo {
    color: #789;
    font-style: italic;
    font-weight: bold;
    font-size: 130%;
    float: left;
    width: 187px;
    margin-left: 1.5em;
    margin-top: 0.5em;
}

nav {
    position: absolute;
    top: 4em;
    width: 14em;
}

nav li {
    list-style-type: none;
    font-size: 80%;
    border-bottom: 1px dotted #b2bcc6;
    margin-bottom: 0.3em;
}

nav a:link, nav a:visited {
    text-decoration: none;
    color: #2a4f6f;
    background-color: transparent;
}

nav a:hover {
    color: #789;
}

article {
    margin-left: 16em;
    margin-right: 2em;
}

article p {
    font-size: 80%;
    line-height: 1.6em;
}