.navigation {
    list-style: none;
    padding: 0;
}

.navigation a {
    background: black;
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-family: Arial,sans-serif;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.navigation a:hover {
    background: #005715;
}

.navigation.subNav{
    display: none;
}

.navigation li:hover .subNav{
    display: block;
}

@media all and (min-width: 800px) {
    .navigation {
        display: flex;
    }
    .navigation li{
        flex: auto;
    }
}



