
.body{
    display: flex;
}
section,article{
    padding: 5px;
    margin: 5px;




}

article{


    background: blue;
}

 article > section {

    background-color: yellow;display: flex;

}

 article > section > section {

    background-color: yellowgreen;
}
