header {
    font-family: verdana, arial, sans-serif;
    font-variant: small-caps;
    text-align: center;
}

section header {
    font-size: 2rem;
    text-shadow: 4px 4px 6px gray;
}

h5 {
    text-align: right;
}

p {
    text-align: justify;
    text-indent: 2rem;
}

p.highlight {
    font-weight: bold;
}

p::first-letter {
    font-size: 1.5em;
}

a {
    text-decoration: overline underline;
    text-transform: lowercase;
}
